En esta carpeta trabajaremos con el maquetado publico del proyecto se intentara el mantener un orden claro, pero como nos conocemos sabemos que nos vamos a descontrolar en la primera que nos pongamos. de momento esta carpeta solo va a contar con una carpeta de imagenes en la que se pondran tanto las inspiraciones como con las imagenes que vamos a utilizar. seguida del archivo html, el css y el js, aunque estos dos ultimos se iran creando a medida que vayamos avanzando en el proyecto.